<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/messages.css' %}">

  
    <title>{% block title %}GreenUp!{% endblock %}</title>

    {% load static %}
</head>

<body>
    <nav>
        <div class="nav-container">
            <div class="nav-title">
                <em><h1><a href="{% url 'landing' %}">GreenUp!</a></h1></em>
            </div>

            <div class="nav-links">
                <ul>
                    {% if request.user.is_authenticated %}
                    <em><li><a href="{% url 'actions' %}">Actions</a></li></em>
                    <em><li><a href="{% url 'rewards_list' %}">Rewards</a></li></em>
                    <em><li><a href="{% url 'profile' %}">Profile</a></li></em>
                    <em><li><a href="{% url 'campaign_list' %}">Campaign</a></li></em>
                        {% if user.supervisor %}
                            <em><li><a href="{% url 'news_create' %}">Create News</a></li></em>
                        {% endif %}
                {% else %}
                <em><li><a href="{% url 'social:begin' 'google-oauth2' %}">Sign In with Google</a></li></em>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>