{% extends 'base.html' %}

{% block title %}Landing Page{% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/landing.css' %}">
<style>
.news-feed-section {
  width: 70%;
  flex-grow: 1;
}
</style>

<div class="landing-container">
    <div class="leaderboard-section">
        <h2>LEADERBOARD</h2>
        
        {% for user in top_users %}
        <div class="leaderboard-item">
            <img id="avatar" class="avatar" src="{{ user.profile_picture.url }}">
            <div class="leaderboard-details">
                <p><strong>{{ user.fullname }}</strong></p>
                <p>{{ user.school }}</p>
            </div>
            <p class="points">{{ user.total_points}} pts</p>
        </div>
        {% empty %}
            <p>No users to display.</p>
        {% endfor %}
    </div>


    <div class="news-feed-section">
        {% if user.supervisor %}
            <a href ="{% url 'news_create' %}" class="create-news-btn">Add News</a>
        {% endif %}
        <h2>NEWS FEED</h2>
        <h3>{{latest_news.headline}}</h3>
        <img id="photo" class="news-image" src="{{ latest_news.photo.url }}">
        <p>{{latest_news.body}}</p>
    </div>

</div>
{% endblock %}