{% extends 'base.html' %}

{% block title %} Profile {% endblock %}
{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/profile.css' %}">
</head>

<body>

    <div class="container">
    
        <!-- Left Section - Avatar, Name, Email, and Profile Fields -->
        <div class="profile-content">
            <div class="profile-header">
                <img class="avatar" src="{% static 'images/Default_Avatar.png' %}" alt="Avatar">
                <div class="user-details">
                    <h2>{{ user.fullname }}</h2>
                    <p>{{ user.email }}</p>
                </div>
            </div>

            <div class="profile-fields">
                <label>Full Name:</label>
                <p>{{ user.fullname }}</p>

                <label>School:</label>
                <p>{{ user.school }}</p>

                <label>Major(s):</label>
                <p>{{ user.major }}</p>

                <label>Minor(s):</label>
                <p>{{ user.minor }}</p>

                <label>Graduation Year:</label>
                <p>{{ user.gradyear }}</p>

                <label>Is Supervisor:</label>
                <p>{{ user.supervisor|yesno:"Yes,No" }}</p>
            </div>
        </div>

        <!-- Right Section - QR Code and Edit Button -->
        <div class="qr-code-section">
            <div class="logout-section">
                <a href="{% url 'logout' %}" class="logout-button">Logout</a>
            </div>
            <a href="{% url 'profile_edit' %}" class="edit-button">Edit</a>
            <img src="{% static 'images/QR.png' %}" alt="QR Code" class="qr-code">
            
        </div>

        
    </div>

</body>

{% endblock %}