{% extends 'base.html' %}

{% block title %}Rewards List{% endblock %}
{% load static %}

{% block content %}

<head>
    <title>Rewards List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/campaign_page.css' %}">
</head>

<body>

    <h1 class="title">Rewards List</h1>

    {% if messages %}
    <div>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% if user and user.supervisor %}
        <a href="{% url 'rewards_create' %}" class="create-campaign-btn">Add Reward</a>
    {% endif %}

    <div class="campaign-container">
        <div class="column">
            <h2>Active Rewards</h2>
            {% if active_rewards %}
                <ul>
                    {% for reward in active_rewards %}

                            <div class="campaign-item">
                                <div class="campaign-title">
                                    <a href="/campaign/{{ campaign.id }}">{{ campaign.name }}</a>
                                </div>
                                <div class="campaign-dates">{{ reward.startdate }} - {{ reward.enddate }}</div>
                                <div class="campaign-points">Points Required: {{ reward.pointsrequired }}</div>
                                <div class="campaign-description">Description: {{ reward.description }}</div>
                                
                                {% if user and user.supervisor %}
                                    <strong>Campaign ID: {{ campaign.id }}</strong><br>
                                {% endif %}
                                
                                {% if not user.supervisor %}
                                    {% if reward not in user.completed_campaigns.all %}
                                        <form method="post" action="{% url 'campaign_complete' campaign.id %}">
                                            {% csrf_token %}
                                            <button type="submit">Redeem</button>
                                        </form>
                                    {% else %}
                                        <p>Redeemed</p>
                                    {% endif %}
                                {% endif %}
                            </div> 

                    {% endfor %}
                </ul>
            {% else %}
                <p>No active campaigns.</p>
            {% endif %}
        </div>






    {% if user and user.supervisor %}
        <div class="column">
            <h2>Expired Campaigns</h2>
            {% if expired_campaigns %}
                <ul>
                    {% for campaign in expired_campaigns %}
                            <div class="campaign-item">
                                <div class="campaign-title">{{campaign.name}}</div>
                                <div class="campaign-dates">{{campaign.startdate}} - {{campaign.enddate}}</div>
                                <div class="campaign-points">{{campaign.pointsreward}} Points</div>
                                <div class="campaign-description">Description: {{campaign.description}}</div>
                                <div class="campaign-validation">Validation Method: {{campaign.validationmethod}}</div>
                                {% if user and user.supervisor %}
                                    <strong>Campaign ID: {{ campaign.id }}</strong>
                                {% endif %}
                            </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No expired campaigns.</p>
            {% endif %}
            </div>
    {% endif %}

</body>

{% endblock %}