{% extends 'base.html' %}

{% block title %}Rewards List{% endblock %}
{% load static %}

{% block content %}

<head>
    <title>Rewards List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/campaign_page.css' %}">
</head>

<body>

    <h1 class="title">Rewards List</h1>
    {% if user and not user.supervisor%}
        <h2 class="current-points">Current Points: {{ user.current_points }}</h2>
    {% endif %}

    {% if messages %}
    <div>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% if user and user.supervisor %}
        <a href="{% url 'rewards_create' %}" class="create-campaign-btn">Add Reward</a>
    {% endif %}

    <div class="campaign-container">
        <div class="column">
            <h2>Active Rewards</h2>
            {% if active_rewards %}
                <ul>
                    {% for reward in active_rewards %}

                            <div class="campaign-item">
                                <div class="campaign-title">
                                    <a href="/reward/{{ reward.id }}">{{ reward.name }}</a>
                                </div>
                                <div class="campaign-dates">{{ reward.startdate }} - {{ reward.enddate }}</div>
                                <div class="campaign-points">Points Required: {{ reward.pointsrequired }}</div>
                                <div class="campaign-description">Description: {{ reward.description }}</div>
                                
                                {% if not user.supervisor %}
                                    {% if reward not in user.redeemed_rewards.all %}
                                        <form method="post" action="{% url 'reward_redeem' reward.id %}">
                                            {% csrf_token %}
                                            <button type="submit">Redeem</button>
                                        </form>
                                    {% else %}
                                        <p>Redeemed</p>
                                    {% endif %}
                                {% endif %}
                            </div> 

                    {% endfor %}
                </ul>
            {% else %}
                <p>No active rewards.</p>
            {% endif %}
        </div>






    {% if user and user.supervisor %}
        <div class="column">
            <h2>Expired Rewards</h2>
            {% if expired_rewards %}
                <ul>
                    {% for reward in expired_rewards %}
                            <div class="campaign-item">
                                <div class="campaign-title">{{reward.name}}</div>
                                <div class="campaign-dates">{{reward.startdate}} - {{reward.enddate}}</div>
                                <div class="campaign-points">{{reward.pointsrequiredeward}} Points</div>
                                <div class="campaign-description">Description: {{reward.description}}</div>
                            </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No expired rewards.</p>
            {% endif %}
            </div>
    {% endif %}

</body>

{% endblock %}